body {
  background-color: #f9f9f9;
}

h1 {
  font-family: 'Open Sans';
  font-weight: bolder;
  font-size: 48pt;
}

h4 {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 28pt;
}

.landing-bg {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.landing-blue {
  position: fixed;
  top: -35vh;
  left: -20vw;
  height: 150vh;
  width: 100%;
  color: white;
  background-color: gold;
  border-right: solid green 50px;
  transform: rotateZ(20deg);
  z-index: -1;
}


.landing-img {
  position: fixed;
  height: 130vw;
  max-height: 120vh;
  left: 48vw;
  bottom: -10vw;
  filter: grayscale(100%);
  z-index: -2;
}



.landing-img-shadow {
  color: #00458b;
}

.landing-text {
  color: white;
  position: fixed;
  left: 50px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.landing-button {
  font-family: "Roboto";
  font-size: 20pt;
  background-color: green;
  border: 4px solid white;
  border-radius: 0.4rem;
}

.about-bg {
  background: url('http://localhost:3000/car.png') no-repeat center center fixed;
  height: 100% !important;
}

.landing-button:hover {
  border: 4px solid lightgray;
}

@media (min-aspect-ratio: 42/20), (max-width: 991px) {
  .landing-img {
    display: none;
  }
  .landing-blue {
    transform: rotateZ(0deg);
    left: 0;
  }
  .landing-text {
    padding-right: 50px;
  }
}